.contents-root {
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0 32px 31px 24px;
  background: #F7F7F7 0% 0% no-repeat padding-box;
}

.contents-root .row {
  margin: 30px 0;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}

.contents-root .calendar-box {
  padding: 17px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 3px #00000029;
  border-radius: 2px;
}

.contents-root p {
  font-size: 16px;
  color: #6A6A6A;
}

.contents-root p.title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #707070C4;
}

.contents-root p.subtitle {
  font-size: 20px;
  font-weight: normal;
}

.contents-root .icon-calendar {
  background: transparent;
  width: 22px;
  height: 22px;
}