/* Global Styling Applies Here */

/* Border Styles */
.border {
  border-style: solid;
}

.border.blue {
  border-color: royalblue;
}

.border.orange {
  border-color: tomato;
}

.border.black {
  border-color: #444444;
}

.border.green {
  border-color: yellowgreen;
}

/* Paragraph tag */

* p {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #333333;
  margin: 0;
}

* a {
  text-decoration: none;
}

/* main-container-root styling applies here */

.main-container-root {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
  flex-flow: row;
}