/* Global Styling Applies Here */

/* Border Styles */
.border {
  border-style: solid;
}

.border.blue {
  border-color: royalblue;
}

.border.orange {
  border-color: tomato;
}

.border.black {
  border-color: #444444;
}

.border.green {
  border-color: yellowgreen;
}

/* chevron */

.chevron::before {
	display: inline-block;
	content: '';
	position: relative;
	top: 0.5em;
  left: 0;
	width: 0.45em;
	height: 0.45em;
  border-color: #757575;
  border-style: solid;
	border-width: 0.20em 0.20em 0 0;
	transform: rotate(-45deg);
	vertical-align: top;
}

.chevron.white::before {
  border-color: #ffffff;
}

.chevron.down::before {
  top: 0.15em;
  transform: rotate(135deg);
}

/* Paragraph tag */

* p {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  color: #333333;
  margin: 0;
}

* a {
  text-decoration: none;
}

/* flexbox-shorthand */

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


/* main-container-root styling applies here */

.main-container-root {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
  flex-flow: row;
}